.authOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.authInnerContainer {
  height: fit-content;
  width: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  background-color: #ffffff;
}

div[class^="makeStyles-root-"] {
  width: 30vw !important;
  height: 60vh !important;
}

.MuiTabPanel-root {
  display: flex;
  align-items: center;
  margin: 0;
}

.tab-content,
div.fade.tab-pane.active.show {
  height: 100%;
}

div.MuiBox-root.MuiBox-root-6,
.MuiBox-root-56 {
  padding: 0;
}

div[class^="makeStyles-paper-"] {
  margin-top: 10%;
  justify-content: center;
}

div[class^="MuiBox-root MuiBox-root-"] {
  padding: 6px;
}

button[class^="MuiButtonBase-root MuiButton-root MuiButton-contained makeStyles-submit-"] {
  padding: 10px !important;
}
.nav-tabs .nav-item.nav-link {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

.nav-tabs .nav-item.nav-link.active {
  background-color: #1cb5e0;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.MuiButton-label {
  color: white;
}

.authHeading {
  color: #fafbfc;
  font-size: 3em;
  font-weight: normal;
}

span.material-icons.MuiIcon-root.authChatIcon {
  color: #fafbfc;
  font-size: 1em;
}

.contentContainer {
  height: 100%;
}
