.welcomeOuterContainer {
  position: absolute;
  top: 0;
  width: 78vw;
  height: 103.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}

.intro {
  width: 40%;
  line-height: 1.8em;
  text-align: center;
}
