.usersListOuterContainer {
  width: 100%;
  height: 35%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(26, 26, 29, 0.1);
}

.usersListInnerContainer {
  width: 70%;
  height: 100%;
  padding: 6%;
  overflow-y: scroll;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  border-radius: 4px;
}

.usersListHeading {
  color: rgba(48, 46, 46, 0.925);
  font-style: italic;
  font-size: 0.9em;
  margin: 4% 0;
}

span.material-icons.MuiIcon-root.fas.fa-circle {
  font-size: 0.65em;
  margin-right: 10px;
  color: green;
}

material-icons .usersListOnlineUserInfo {
  font-size: 0.2;
}
