.channelsOuterContainer {
  width: 25vw;
  height: 100vh;
  padding: 2%;
  background-color: #1a1a1d;
}

.channelsHeading {
  color: #e6e6ff;
  font-size: 1.3em;
  padding-bottom: 20px;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

div.joinButton {
  background-color: #f64f59;
  padding: 0.25rem 1rem;
  border-radius: 2px;
}
